.nav-mobile {
  position: absolute;
  background-color: #0d4581;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  /* margin-top: 395px; */
  border-radius: 5px;
  width: 100vw;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* statistik desktop */
.statistik {
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  height: 25px;
  margin: auto 0;
}

.statistik:hover {
  color: #fff300;
  border-bottom: 2px solid #fff300;
}

.menuStatistik {
  position: absolute;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 40px;
  margin-left: -40px;
  border-radius: 5px;
  width: 210px;
}

/* statistik mobile */
.statistik-mobile{
  padding: 10px 15px;
  background-color: transparent;
  color: #fff;
  border: none;
}

@media (max-width: 900px) {
  .css-1xomo8h-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
    max-width: 100% !important;
    left: 0px !important;
    box-shadow: none !important;
    background-color: #0d4581 !important;
  }
  .menuMobile {
    width: 100vw;
  }
  .css-99wn1p-MuiList-root-MuiMenu-list {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  .css-1toxriw-MuiList-root-MuiMenu-list {
    background-color: #0d4581 !important;
    width: 100vw !important;
    left: 0px !important;
  }
  .css-1tktgsa-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
    max-width: calc(100% - 0px) !important;
    background-color: #0d4581 !important;
    box-shadow: none !important;
    min-width: 100vw !important;
    left: 0px !important;
  }
}

@media (min-width: 900px) {
  .css-u7te9g-MuiButtonBase-root-MuiMenuItem-root {
    /* color: #fff300; */
    background-color: #0d4581 !important;
  }
  .css-nbyeee-MuiButtonBase-root-MuiMenuItem-root:hover {
    background-color: #0d4581 !important;
  }
  .css-g6x95i-MuiButtonBase-root-MuiMenuItem-root:hover {
    background-color: #0d4581 !important;
  }

  .css-1tktgsa-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
    background-color: inherit !important;
  }
  .css-1toxriw-MuiList-root-MuiMenu-list {
    padding: 0px !important;
  }
}
