/* Image.module.css */
.desktopOnly {
  width: 406px;
  float: right;
}

@media (max-width: 900px) {
  /* Hide on mobile */
  .desktopOnly {
    display: none;
  }
}

@media (min-width: 900px) and (max-width: 1140px) {
}
@media (min-width: 600px) and (max-width: 899px) {
  .address {
    width: 95% !important;
    margin: 0 auto;
  }
  .logoMobile {
    height: 300px !important;
  }
}
@media (min-width: 490px) and (max-width: 599px) {
  .address {
    width: 95% !important;
    margin: 0 auto;
  }
}
